@import url("https://fonts.googleapis.com/css?family=Georgia");
@import url("https://fonts.googleapis.com/css?family=Helvetica");

body {
    margin: 100px;
    font-family: 'Helvetica', sans-serif;
}

main {
    margin: 40px 120px;
}

p {
    color: #757575;
    font-weight: 300;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Georgia';
    margin-bottom: 0;
}

header p {
    font-size: 20px;
    margin-top: 9px;
}

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.btn {
    align-self: flex-end;
}

.btn button {
    color: white;
    background-color: #4BA47F;
    border: none;
    padding: 13px 60px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    white-space: nowrap;
    outline: none;
}

.content {
    margin: 0 55px 0 0;
    width: 43%;
}

.content h4 strong {
    color: black;
}

.content p {
    font-size: 17px;
    margin-bottom: 0;
}

.content mark {
    background: #CEFDE9;
    color: #757575;
}

hr {
    width: 30%;
}