body {
   margin: 15px;
    font-family: 'Helvetica';
    font-size: 17px;
    padding: 10px 80px;
    font-weight: 300;

}
header{
    margin-left: 120px;
}
h1{
    font-family: 'Georgia';
    font-size: 45px;
    margin:0
}

p{
    color: #747476;
    margin: 2px;

}

section{
    display: flex;
    align-items: center;
     padding: 20px 130px;
     padding-bottom: 50px;
}
h2{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}
mark{
    background-color: #D7FCEA;
    color: #747476;
}
.button-wrapper{
margin-top: 130px;
margin-right: 160px;

}
button{
    color: white;
    background-color: #4BA47F;
    border: none;
    padding: 13px 60px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    white-space: nowrap;

}
.text-container{
    padding-left: 40px;
    padding-right: 110px;
}
hr{
    width: 30%;
}
